<a href="https://colab.research.google.com/github/YugeshwarV/Project_Nutrition_Paradox/blob/main/Nutrition_Paradox_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nutrition Paradox: A Global View on Obesity and Malnutrition

### Step 4: Insert Data into SQL

In [ ]:
import mysql.connector
import pandas as pd

In [ ]:
# Load cleaned CSVs
df_obesity = pd.read_csv("cleaned_obesity.csv")
df_malnutrition = pd.read_csv("cleaned_malnutrition.csv")

#### Connect to MySQL

In [ ]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="ShaYug",
    database="nutrition_db"
)
cursor = conn.cursor()

In [ ]:
# Create tables
cursor.execute("""
    CREATE TABLE IF NOT EXISTS obesity (
        id INT AUTO_INCREMENT PRIMARY KEY,
        Year INT,
        Gender VARCHAR(10),
        Mean_Estimate FLOAT,
        LowerBound FLOAT,
        UpperBound FLOAT,
        Age_Group VARCHAR(20),
        Country VARCHAR(100),
        Region VARCHAR(100),
        CI_Width FLOAT,
        Obesity_Level VARCHAR(20)
    )
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS malnutrition (
        id INT AUTO_INCREMENT PRIMARY KEY,
        Year INT,
        Gender VARCHAR(10),
        Mean_Estimate FLOAT,
        LowerBound FLOAT,
        UpperBound FLOAT,
        Age_Group VARCHAR(20),
        Country VARCHAR(100),
        Region VARCHAR(100),
        CI_Width FLOAT,
        Malnutrition_Level VARCHAR(20)
    )
""")

In [ ]:
# Helper: convert NaN to None
def clean_row(row):
    return tuple(None if pd.isna(x) else x for x in row)

# Insert obesity data
for _, row in df_obesity.iterrows():
    cursor.execute("""
        INSERT INTO obesity (
            Year, Gender, Mean_Estimate, LowerBound, UpperBound,
            Age_Group, Country, Region, CI_Width, Obesity_Level
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, clean_row(row))

# Insert malnutrition data
for _, row in df_malnutrition.iterrows():
    cursor.execute("""
        INSERT INTO malnutrition (
            Year, Gender, Mean_Estimate, LowerBound, UpperBound,
            Age_Group, Country, Region, CI_Width, Malnutrition_Level
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, clean_row(row))

# Commit & close
conn.commit()
cursor.close()
conn.close()